/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bilbo%7CBilbo+Swash+Caps%7CNunito%7CNunito+Sans");
img {
  border: 0;
  height: auto;
  max-width: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #373737;
  font: 16px/1.6 "Nunito Sans", sans-serif;
  position: relative; }

@media print {
  body * {
    visibility: hidden; }
  .score-title, .score-bpm, .score-to-print, .score-to-print * {
    visibility: visible; }
  .score-title, .score-bpm {
    position: absolute;
    top: 0; }
  .score-title {
    left: 0; }
  .score-bpm {
    left: 12rem; }
  .score-to-print {
    left: 0;
    position: fixed;
    top: 5rem;
    transform: scale(0.75); } }

.is-centered {
  text-align: center; }

.is-flex {
  display: flex; }

.is-hidden {
  display: none; }

header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

header a {
  align-items: center;
  height: 100px;
  justify-content: space-around;
  text-decoration: none; }

header .header-content-container {
  margin: 0 auto;
  width: 250px; }

header .header-content-container .logo-image {
  background: #60D394;
  border-radius: 5px;
  width: 50px; }

header .header-content-container .logo-text {
  color: #FAFAFA;
  font: 2rem "Nunito Sans", sans-serif; }

header.vertical {
  transform: translateX(128px); }

.score-wrapper {
  background-color: #373737;
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  margin-top: 100px;
  min-height: 100vh;
  width: 100%; }

.score-wrapper.vertical {
  margin-left: 256px; }

@media screen and (min-width: 320px) {
  .score-wrapper {
    padding: 0; } }

@media screen and (min-width: 670px) {
  .score-wrapper {
    padding: 5rem; } }

.score-container {
  background: #FAFAFA;
  color: #212121;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  overflow: scroll;
  padding: 2rem;
  position: relative;
  width: 85%; }

@media screen and (min-width: 320px) {
  .score-container {
    width: 100%; } }

.title-container {
  position: relative; }

.title-container .score-title {
  font: 2rem "Bilbo", cursive; }

.title-container .edit-title-form {
  background: #FAFAFA;
  position: absolute;
  left: 50%;
  text-align: center;
  top: -1rem;
  transform: translateX(-50%);
  width: 50%;
  text-align: center; }

.title-container .edit-title-form .title-input {
  background: #FAFAFA;
  border: none;
  border-bottom: 4px solid #60D394;
  color: #212121;
  font: 2rem "Bilbo", cursive;
  margin: 0 auto;
  width: 100%; }

.title-container .edit-title-form .title-input:focus {
  background: rgba(71, 71, 71, 0.25);
  border-bottom: 4px solid #60D394;
  outline: none; }

.print-btn {
  background: none;
  border: none;
  color: #60D394;
  cursor: pointer;
  font: 1rem "Nunito Sans", sans-serif;
  right: 3rem;
  position: absolute;
  top: .5rem; }

.print-btn:hover {
  color: #212121;
  text-decoration: underline; }

.print-btn:focus {
  outline: none; }

.save-btn {
  background: #60D394;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  padding: .25rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 30px; }

.save-btn .save-icon {
  display: block;
  width: 100%; }

.save-btn:hover {
  border: 2px solid #212121; }

.bpm-container {
  position: relative;
  width: 100px; }

.bpm-container .edit-bpm-form {
  background: #FAFAFA;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: absolute;
  top: -1rem;
  width: 100px; }

.bpm-container .edit-bpm-form .bpm-input {
  background: #FAFAFA;
  border: none;
  border-bottom: 4px solid #60D394;
  font: 1rem "Nunito Sans", sans-serif;
  margin-right: .5rem;
  width: 70px; }

.bpm-container .edit-bpm-form .bpm-input:focus {
  background: rgba(71, 71, 71, 0.25);
  border-bottom: 4px solid #60D394;
  outline: none; }

.key-options-container {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }

.key-options-container .exit-keys-btn {
  color: #60D394;
  cursor: pointer;
  font: 2rem "Nunito Sans", sans-serif;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem; }

.key-options-container .exit-keys-btn:hover {
  color: #FAFAFA;
  transition: color .5s; }

.key-options-container .keys-wrapper {
  background: #313131;
  border: 4px solid #60D394;
  flex-wrap: wrap;
  left: 50%;
  height: 85vh;
  justify-content: space-around;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }

.key-option {
  border: 4px solid transparent;
  color: #FAFAFA;
  cursor: pointer;
  font: 1.5rem "Nunito Sans", sans-serif;
  padding: 1rem;
  text-decoration: underline;
  width: 200px; }

.key-option:hover {
  border: 4px solid #FAFAFA;
  transition: border 1s; }

.key-option .key-name {
  margin-bottom: .5rem; }

.key-option .key-display {
  background: #60D394; }

.key-option .key-display img {
  display: block;
  padding: 1rem;
  width: 100%; }

#vfDisplay {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 800px;
  width: 100%; }

.tool-box {
  padding: 1rem;
  position: fixed;
  border: 3px solid #474747;
  background: #474747;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
  z-index: 1000; }

.tool-box.horizontal {
  box-shadow: 0 -0.5rem 1rem #60D394;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 220px;
  justify-content: space-around;
  overflow: scroll;
  padding: 2rem;
  width: 100vw;
  bottom: 0px; }

.tool-box.horizontal .toggle-pos {
  transform: rotate(-90deg); }

.tool-box.horizontal .Transport-controls {
  margin: 0; }

.tool-box.horizontal .Transport-controls, .tool-box.horizontal .note-lengths-container,
.tool-box.horizontal .accidentals-container, .tool-box.horizontal .rest-lengths-container {
  margin-bottom: 2rem;
  width: 220px; }

.tool-box.vertical {
  box-shadow: 0.5rem 0 1rem #60D394;
  flex-direction: column;
  min-height: 100vh;
  overflow: scroll;
  width: 16rem; }

.Transport-controls, .note-lengths-container,
.accidentals-container, .rest-lengths-container {
  margin-bottom: 2rem;
  width: 220px; }

.Transport-controls {
  margin: 2rem auto;
  width: 85%; }

.Transport-controls .playback-title {
  color: #FAFAFA;
  font: 1rem "Nunito Sans", sans-serif;
  margin-bottom: .5rem;
  width: 100%; }

.Transport-buttons {
  justify-content: center; }

.Transport-buttons button {
  background: #60D394;
  border: 4px solid #60D394; }

.Transport-buttons button:hover {
  border: 4px solid #FAFAFA; }

.Transport-buttons button:focus {
  border: 4px solid #FAFAFA;
  outline: none; }

.toggle-pos {
  width: 3rem;
  background: none;
  border: none;
  border: 4px solid transparent;
  left: 0;
  margin-bottom: 2rem;
  padding: .5rem;
  position: absolute;
  top: 0; }

.toggle-pos:focus {
  outline: none; }

.toggle-pos:hover {
  border: 4px solid #FAFAFA;
  cursor: pointer; }

.Transport {
  width: 55px;
  display: inline-block;
  background: #373737;
  border-radius: 5px;
  margin: 3px;
  padding: 5px; }

.Transport:hover {
  cursor: pointer; }

.Transport img {
  filter: drop-shadow(2px 2px 2px 1px rgba(65, 162, 235, 0.5)); }

.notation-selectors {
  justify-content: space-around;
  flex-wrap: wrap;
  color: #FAFAFA; }

.notation-selectors .key-sig-btn {
  font: 1rem "Nunito Sans", sans-serif; }

.selectors {
  width: 20rem; }

.triplet-btn p {
  text-align: center;
  position: relative;
  right: 4px;
  font-weight: bolder; }

.icon {
  border: 4px solid #60D394;
  background: #60D394;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  margin: .5rem; }

.icon img {
  filter: brightness(30%); }

.icon:hover {
  border: 4px solid #FAFAFA; }

.icon:active {
  border: 4px solid #60D394;
  box-shadow: none;
  background: #FAFAFA;
  outline: none; }

.icon:focus {
  outline: none; }

.chat-container {
  flex-direction: column;
  color: #FAFAFA; }

.options-wrapper {
  flex-wrap: wrap;
  justify-content: center; }

.options-wrapper .icon {
  width: 2.5rem; }

.time-options-wrapper {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  z-index: 1000; }

.time-options-wrapper .exit-times-btn {
  color: #60D394;
  cursor: pointer;
  font: 2rem "Nunito Sans", sans-serif;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem; }

.time-options-wrapper .exit-times-btn:hover {
  color: #FAFAFA;
  transition: color .5s; }

.time-options-wrapper .time-options-container {
  background: #313131;
  border: 4px solid #60D394;
  color: #FAFAFA;
  flex-wrap: wrap;
  justify-content: space-around;
  left: 50%;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }

.time-options-wrapper .time-options-container .time-option {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  height: 200px;
  margin-bottom: 2rem;
  justify-content: center;
  width: 200px; }

.time-options-wrapper .time-options-container .time-option:hover {
  color: #FAFAFA;
  text-decoration: underline; }

.profile-wrapper {
  height: 900px; }

.header-container {
  align-items: center;
  background: #373737;
  color: #60D394;
  display: flex;
  height: 150px;
  flex-direction: row;
  justify-content: center;
  width: 100%; }

.header-container h1 {
  font-size: 40px; }

.logo-container {
  height: 20px;
  width: 15%; }

.newThing {
  background: #373737;
  width: 100px; }

.main-header-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  width: 100%; }

.search-comp {
  background: #474747;
  border: 5px solid #60D394;
  color: #60D394;
  font-size: 20px;
  height: 50px;
  padding: 20px;
  width: 50%; }

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 20%; }

.social-media-container .media-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.social-media-container img {
  background: #60D394;
  width: 60%; }

.main-logo-container {
  height: 100%;
  width: 20%; }

.main-logo-container .logo-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 90%; }

.main-logo-container .logo-container .logo-image {
  background: #60D394;
  border-radius: 5px;
  width: 60px; }

.main-logo-container .logo-container .logo-text {
  font-size: 25px;
  font-weight: 900; }

.main-side-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
  width: 20%; }

.profile-pic {
  border: 5px solid #60D394;
  border-radius: 50%;
  width: 60%; }

.user-profile-image {
  align-items: center;
  background: #373737;
  display: flex;
  flex-direction: column; }

.user-name {
  color: #60D394;
  font-size: 20px; }

.friends-list {
  align-items: flex-start;
  border: 4px solid #60D394;
  border-radius: 10px;
  display: flex;
  height: 300px;
  flex-direction: column;
  margin-left: 10px;
  width: 90%; }

.friends-list a {
  color: #FAFAFA;
  text-decoration: none; }

.friends-list .single-friend-container {
  background: #373737;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px; }

.friends-list .single-friend-container .friend-image {
  border-radius: 10px;
  width: 18%; }

.main-comp-container {
  border-radius: 25px;
  background: #FAFAFA;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  float: right;
  height: 100%;
  width: 80%; }

.container-one {
  background: #FAFAFA;
  border: 1px solid black;
  height: 23.5%;
  width: 17%;
  margin: 40px; }

.container-one:hover {
  border-color: #60D394;
  box-shadow: 10px 10px 5px #474747;
  opacity: 1; }

.main-form-container {
  align-items: center;
  background: #313131;
  display: flex;
  height: 900px;
  justify-content: center; }

.main-form {
  align-items: center;
  background: #474747;
  border: 5px solid #60D394;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  width: 80%; }

.logo-image {
  width: 100px; }

.login-container {
  align-items: center;
  background: #313131;
  border: 5px solid #60D394;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  width: 500px; }

.login-container input {
  background: #474747;
  border: 5px solid #60D394;
  color: #60D394;
  font-size: 20px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 80%; }

.login-container .login-button {
  font-size: 15px;
  height: 8%;
  width: 50%; }

.chat-form-container {
  background: #313131;
  bottom: 0;
  height: 60px;
  left: 0;
  padding: 5px;
  position: fixed;
  width: 20%; }

form input {
  border: 0;
  font: "Nunito Sans", sans-serif;
  font-size: 15px;
  margin-right: 0.5%;
  padding: 10px;
  width: 94%; }

form button {
  background: #60D394;
  border: none;
  font: "Nunito Sans", sans-serif;
  height: 100%;
  width: 5%; }

.main-chat-container {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 20%; }

.message-container {
  border: 5px solid #60D394;
  width: 100%; }

.message-text-container {
  display: flex;
  background: #60D394;
  border: 5px solid #313131;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%; }

.chord-options-wrapper {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }

.chord-options-wrapper .exit-chords-btn {
  color: #60D394;
  cursor: pointer;
  font: 2rem "Nunito Sans", sans-serif;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem; }

.chord-options-wrapper .exit-chords-btn:hover {
  color: #FAFAFA;
  transition: color .5s; }

.chord-options-container {
  background: #313131;
  border: 4px solid #60D394;
  flex-wrap: wrap;
  left: 50%;
  height: 85vh;
  justify-content: space-around;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }

.chord-options-container .chord-triggers-container, .chord-options-container .chords-wrapper {
  align-items: center;
  flex-wrap: wrap;
  height: 85vh;
  justify-content: space-around;
  overflow: scroll; }

.chord-options-container .chord-triggers-container .chord-note-option, .chord-options-container .chords-wrapper .chord-note-option {
  align-items: center;
  color: #FAFAFA;
  cursor: pointer;
  display: flex;
  font-size: 3rem;
  height: 200px;
  margin-bottom: 2rem;
  justify-content: center;
  width: 200px; }

.chord-options-container .chord-triggers-container .chord-note-option:hover, .chord-options-container .chords-wrapper .chord-note-option:hover {
  text-decoration: underline; }

.chords-wrapper .chord-option {
  background: #60D394;
  border: 4px solid transparent;
  cursor: pointer;
  height: 200px;
  margin: 2rem;
  padding: 1rem;
  width: 200px; }

.chords-wrapper .chord-option img {
  display: block;
  width: 200px; }

.chords-wrapper .chord-option:hover {
  border: 4px solid #FAFAFA;
  transition: border 1s; }
er;
      color: #FAFAFA;
      cursor: pointer;
      display: flex;
      font-size: 3rem;
      height: 200px;
      margin-bottom: 2rem;
      justify-content: center;
      width: 200px; }
      .chord-options-container .chord-triggers-container .chord-note-option:hover, .chord-options-container .chords-wrapper .chord-note-option:hover {
        text-decoration: underline; }

.chords-wrapper .chord-option {
  background: #60D394;
  border: 4px solid transparent;
  cursor: pointer;
  height: 200px;
  margin: 2rem;
  padding: 1rem;
  width: 200px; }
  .chords-wrapper .chord-option img {
    display: block;
    width: 200px; }
  .chords-wrapper .chord-option:hover {
    border: 4px solid #FAFAFA;
    transition: border 1s; }
