/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bilbo%7CBilbo+Swash+Caps%7CNunito%7CNunito+Sans");
img {
  border: 0;
  height: auto;
  max-width: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px/1.6 "Nunito Sans", sans-serif;
  position: relative; }

.is-centered {
  text-align: center; }

.is-flex {
  display: flex; }

.is-hidden {
  display: none; }

.score-wrapper {
  background: #373737;
  min-height: 100vh;
  padding: 15vh;
  width: 100%; }

.score-container {
  background: #FAFAFA;
  box-shadow: -1.5rem 1.5rem 1.5rem #212121;
  color: #212121;
  margin: 0 auto;
  max-width: 900px;
  min-height: 85vh;
  overflow: scroll;
  padding: 2rem;
  width: 85%; }
  .score-container .score-title {
    font: 2rem "Bilbo", cursive; }
  .score-container .edit-title-form {
    text-align: center; }
    .score-container .edit-title-form .title-input {
      background: #FAFAFA;
      border: none;
      color: #212121;
      font: 2rem "Bilbo", cursive;
      width: 50%; }
      .score-container .edit-title-form .title-input:focus {
        box-shadow: 0 0.5rem 1.5rem #63C273;
        outline: none; }

.tool-box {
  position: static;
  border: 3px solid #474747;
  min-height: 100vh;
  width: 300px;
  flex-wrap: wrap;
  flex-direction: row;
  background: #474747;
  border-radius: 6px;
  border-style: outset; }

.playback-controls {
  margin-top: 7px;
  border-bottom: 3px solid #313131;
  border-bottom-style: groove;
  height: 9rem; }
  .playback-controls .toggle-pos {
    position: relative;
    bottom: 34px;
    left: 13px; }

.playback {
  width: 55px;
  display: inline-block;
  background: #373737;
  border-radius: 5px;
  margin: 3px; }
  .playback img {
    filter: drop-shadow(2px 2px 2px 1px rgba(65, 162, 235, 0.5)); }

.icon {
  border: 1px solid black;
  background: #FF7800;
  color: #FF7800;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 8px; }
  .icon img {
    filter: brightness(30%); }
  .icon:focus {
    border: 0;
    box-shadow: none;
    background: #63C273;
    outline: none; }

.icon-dyn {
  border: 1px solid black;
  background: #FF7800;
  color: #FF7800;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin: 8px; }
  .icon-dyn img {
    filter: brightness(30%); }
  .icon-dyn:focus {
    border: 0;
    box-shadow: none;
    background: #63C273;
    outline: none; }

.chat-container {
  flex-direction: column;
  border-radius: 5px;
  width: 100%; }

.header-container {
  align-items: center;
  background: #63C273;
  color: #fff;
  display: flex;
  height: 150px;
  font-size: 50px;
  justify-content: center; }

.main-profile-container {
  height: 700px;
  margin: 0;
  width: 20%; }

.profile-pic img {
  width: 15%; }

.container-one {
  border: 1px solid black;
  height: 10%;
  width: 10%; }
