/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bilbo%7CBilbo+Swash+Caps%7CNunito%7CNunito+Sans");
img {
  border: 0;
  height: auto;
  max-width: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font: 16px/1.6 "Nunito Sans", sans-serif; }

.is-centered {
  text-align: center; }

.is-flex {
  display: flex; }

.is-hidden {
  display: none; }

.tool-box {
  position: relative;
  float: left;
  border: 1px solid black;
  height: 100vh;
  width: 300px;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #373737;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(65, 162, 235, 0.5); }

.playback-controls {
  margin-top: 7px; }
  .playback-controls .toggle-pos {
    position: relative;
    bottom: 34px;
    left: 13px; }

.playback {
  width: 20%;
  display: inline-block;
  background: #474747;
  border-radius: 5px;
  margin: 3px; }
  .playback img {
    filter: drop-shadow(2px 2px 2px 1px rgba(65, 162, 235, 0.5)); }

.icon {
  border: 1px solid black;
  background: #FF7800;
  color: #FF7800;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 10px; }
  .icon img {
    filter: brightness(30%); }
  .icon:focus {
    border: 0;
    box-shadow: none;
    background: #63C273;
    outline: none; }

.icon-dyn {
  border: 1px solid black;
  background: #FF7800;
  color: #FF7800;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 10px; }
  .icon-dyn img {
    filter: brightness(30%); }
  .icon-dyn:focus {
    border: 0;
    box-shadow: none;
    background: #63C273;
    outline: none; }

.chat-container {
  flex-direction: column; }
