.chat-form-container {
    background: $dark;
    bottom: 0;
    height: 60px;
    left: 0;
    padding: 5px;
    position: fixed;
    width: 20%;
}

form input {
    border: 0;
    font: $primaryFont;
    font-size: 15px;
    // height: 100%;
    margin-right: 0.5%;
    padding: 10px;
    width: 94%;
}

form button {
    background: $orange;
    border: none;
    font: $primaryFont;
    // padding: 25px;
    height: 100%;
    width: 5%;
}

// Live Chat Css

.main-chat-container {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 20%;
}

.message-container {
  border: 5px solid $orange;
  width: 100%;
}

.message-text-container {
  display: flex;
  background: $orange;
  border: 5px solid $dark;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
