.chat-form-container {
    background: $dark;
    bottom: 0;
    height: 60px;
    left: 0;
    padding: 5px;
    position: fixed;
    width: 20%;
}

form input {
    border: 0;
    font: $primaryFont;
    font-size: 15px;
    // height: 100%;
    margin-right: 0.5%;
    padding: 10px;
    width: 94%;
}

form button {
    background: $orange;
    border: none;
    font: $primaryFont;
    // padding: 25px;
    height: 100%;
    width: 5%;
}

// Live Chat Css

.chat-toggle {
  align-content: center;
  background: #60D394;
  // border: 4px solid $dark;
  border-radius: 5rem;
  bottom: 5px;
  display: flex;
  height: 4rem;
  justify-content: center;
  position: fixed;
  right: 5px;
  width: 4rem;
  img {
    filter:invert(30%);
    width: 65%;
  }
  &.up {
    transform: rotate(180deg);
  }
}

.main-chat-container {
  bottom: 75px;
  position: fixed;
  right: 5px;
  width: 25%;
}

.message-container {
  display: flex;
  border: 5px solid $orange;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
}

.message-text-container {
  display: flex;
  background: $orange;
  border: 5px solid $dark;
  flex-direction: column;
  height: 200px;
  overflow: scroll;
  width: 100%;
}
