.header-container {
    align-items: center;
    background: $mediumDark;
    color: $orange;
    display: flex;
    height: 80px;
    font-size: 50px;
    flex-direction: row;
    justify-content: center;
}

.logo-container {
    height: 20px;
    width: 15%;
}

.newThing {
    background: $mediumDark;
    width: 100px;
}

.search-comp {
    padding: 30px;
}
