// Main css

.main-side-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    width: 20%;
}
// Profile css

.profile-pic {
    border: 5px solid $orange;
    border-radius: 50%;
    width: 60%;
}

.user-profile-image {
    align-items: center;
    background: $mediumDark;
    display: flex;
    flex-direction: column;
}
// Friends container css

.friends-list {
    align-items: flex-start;
    border: 4px solid $orange;
    border-radius: 10px;
    display: flex;
    height: 300px;
    flex-direction: column;
    margin-left: 10px;
    width: 90%;

    a {
        color: $light;
        text-decoration: none;
    }

    .single-friend-container {
        background: $mediumDark;
        border-radius: 10px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;

        .friend-image {
            border-radius: 10px;
            width: 18%;
        }
    }
}
