.score-wrapper {
  background: $mediumDark;
  min-height: 100vh;
  width: 100%;
  @include bp(mobile) {
    padding: 0;
  }
  @include bp(medium) {
    padding: 5rem;
  }
}

.score-container {
  background: $light;
  box-shadow: -1.5rem 1.5rem 1.5rem $darkest;
  color: $darkest;
  margin: 0 auto;
  max-width: 900px;
  min-height: 85vh;
  overflow: scroll;
  padding: 2rem;
  width: 85%;
  @include bp(mobile) {
    width: 100%;
  }

  .score-title {
    font: 2rem $commentsFont;
  }
  .edit-title-form {
    text-align: center;

    .title-input {
      background: $light;
      border: none;
      color: $darkest;
      font: 2rem $commentsFont;
      width: 50%;

      &:focus {
        background: rgba(71,71,71,.25);
        border-bottom: 2px solid $orange;
        outline: none;
      }
    }
  }
}

.print-btn {
  background: none;
  border: none;
  color: $orange;
  cursor: pointer;
  font: 1rem $primaryFont;
  left: 1rem;
  position: absolute;
  top: 1rem;

  &:hover {
    color: $light;
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

.bpm-container {
  .edit-bpm-form {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 200px;

    .bpm-input {
      background: $light;
      border: none;
      border-bottom: 2px solid $orange;
      font: 1rem $primaryFont;
      margin-right: .5rem;
      width: 30%;

      &:focus {
        background: rgba(71,71,71,.25);
        border-bottom: 2px solid $orange;
        outline: none;
      }
    }
  }
}

#vfDisplay {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 800px;
  width: 100%;
}
