.tool-box {
  position: fixed;
  border: 3px solid $medium;
  background: $medium;
  &.horizontal {
    flex-wrap: nowrap;
    height: 196px;
    justify-content: center;
    overflow: scroll;
    padding: 2rem;
    width: 100vw;
    bottom: 0px;
  }
  &.vertical {
    flex-direction: column;
    min-height: 100vh;
    width: 16rem;
  }
}

.playback-controls {
  flex-direction: column;
  width: 16rem;
  .toggle-pos {
    position: relative;
    bottom: 1.5rem;
    left: 1rem;
    width: 2rem;
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.playback {
  width: 55px;
  display: inline-block;
  background: $mediumDark;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  &:hover {
    cursor: pointer;
  }
  img {
    filter: drop-shadow(2px 2px 2px 1px rgba(65, 162, 235, 0.5));
  }
}

.stopBtn:focus {
  background: #af4242;
}

.pauseBtn:focus {
  background: $light;
}

.playBtn:focus {
  background: green;
}

.to-beg-btn:active {
  background: $blueAcc;
}

.rev-btn:active {
  background: $blueAcc;
}
.ff-btn:active {
  background: $blueAcc;
}
.to-end-btn:active {
  background: $blueAcc;
}

.notation-selectors {
    justify-content: space-around;
    flex-wrap: wrap;
    color: $light;
  }
.selectors {
  width: 10rem;
}
.triplet-btn p {
  text-align: center;
  position: relative;
  right: 4px;
  font-weight: bolder;
}
.icon {
  border: 2px solid $orange;
  background: $orange;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  margin: .5rem;
  img {
    filter: brightness(30%);
  }
  &:hover {
    border: 2px solid $blueAcc;
  }
  &:active {
    border: 2px solid $orange;
    box-shadow: none;
    background: $blueAcc;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.chat-container {
  flex-direction: column;
  color: $light;
}
