.container-one {
    background: $light;
    border-radius: 10px;
    border: 1px solid black;
    float: right;
    height: 300px;
    width: 20%;
    margin: 40px;
}

.container-one:hover {
    border-color: $orange;
    opacity: 1;
}
