// Main Compositions Container Css

.main-comp-container {
    border-radius: 25px;
    background: $light;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    width: 80%;
}
// Single Composition Container Css

.container-one {
    background: $light;
    border: 1px solid black;
    height: 225px;
    width: 17%;
    margin: 40px;
}

.container-one:hover {
    border-color: $orange;
    box-shadow: 10px 10px 5px $medium;
    opacity: 1;
}
