form input {
    border: 0;
    background: $medium;
    color: $orange;
    font-weight: 300;
    font: $primaryFont;
    font-size: 15px;
    margin-right: 0.5%;
    padding: 10px;
    width: 100%;
}

form button {
    background: $orange;
    border: none;
    font: $primaryFont;
    height: 100%;
    width: 5%;
}

// Live Chat Css
.chat {
  border: 4px solid $orange;
}

.chat-icon {
  width: 20px;
  position: fixed;
  right: 51px;
  z-index: 1;
  img {
    filter: invert(100%);
  }
}

.chat-toggle {
  align-content: center;
  background: #60D394;
  border: 4px solid transparent;
  border-radius: 5rem;
  bottom: 1rem;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  position: fixed;
  right: 1rem;
  width: 4rem;
  img {
    filter:invert(25%);
    width: 55%;
    top: 5px;
  }
  &.up {
  }

  &:hover {
    border: 4px solid $mediumDark;

    & + .message-count {
      border: 2px solid $light;
      bottom: 5.5rem;
      right: 2.75rem;
      transition: all .25s;
    }
  }
}

.score-page-container .chat-toggle {
  bottom: 15rem;
  &.vertical {
    bottom: 1rem;
  }
}

.arrow {
  transform: rotate(180deg);
}

.message-count {
  align-items: center;
  background: #E8B20C;
  border: 2px solid transparent;
  border-radius: 50%;
  bottom: 3rem;
  color: $light;
  font-size: .75rem;
  height: 35px;
  justify-content: center;
  position: fixed;
  right: .75rem;
  width: 35px;
  z-index: -1;
}

.main-chat-container {
  bottom: 6rem;
  min-width: 325px;
  position: fixed;
  right: 1rem;
  width: 40%;
}


.message-text-container {
  display: flex;
  background: $medium;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
  flex-direction: column;
  height: 275px;
  overflow: scroll;
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  flex-grow: 2;
}
.message-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%;
}
.input-container {
  background: $medium;
  flex-direction: row;
  align-items: center;
  border-top: 4px solid $light;
  overflow: hidden;
  .current-user-icon {
    margin: 5px;
    border: 1px solid red;
    border-radius: 3rem;
    border: 3px solid $medium;
  }
}

.user-message {
  flex-direction: row;
  align-items: center;
  margin: 5px;
  max-width: 65%;
  flex-wrap: wrap;
  min-height: 20px;
  border-radius: 1rem;
}
.current-user-icon {
  margin: 5px;
  width: 40px;
  height: 35px;
  border: 1px solid black;
  border-radius: 3rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.user-text {
  background: $orange;
  align-self: flex-end;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 5px;
  max-width: 75%;
}
