.invite-btn {
  background: $orange;
  border: 4px solid transparent;
  border-radius: 1rem;
  bottom: 15rem;
  color: $mediumDark;
  cursor: pointer;
  font-size: 1.21rem;
  padding: .75rem;
  position: fixed;
  right: 6rem;

  &.vertical {
    bottom: 1rem;
  }

  &:hover {
    border: 4px solid $mediumDark;
  }
}

.collaborators-wrapper {
  background: rgba(49,49,49,.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  .exit-collaborators-btn {
    color: $orange;
    cursor: pointer;
    font: 2rem $primaryFont;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;

    &:hover {
      color: $light;
      transition: color .5s;
    }
  }
}

.collaborators-container {
  background: $dark;
  border: 4px solid $orange;
  left: 50%;
  height: 85vh;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 85%;
}

.users-list {
  flex-wrap: wrap;
  justify-content: space-around;
  .collaborator-item {
    cursor: pointer;
    margin: 1rem;
    padding: .5rem;
    width: 225px;

    .avatar-container {
      border: 4px solid $light;
      border-radius: 50%;
      display: block;
      height: 200px;
      overflow: hidden;
      width: 200px;
    }
    .collaborator-name {
      color: $light;
      font-size: 1.5rem;
    }

    &:hover {
      .avatar-container {
        border: 4px solid $orange;
      }
      .collaborator-name {
        color: $orange;
        text-decoration: underline;
      }
    }
  }
}
