body {
  background: $mediumDark;
  font: 16px/1.6 $primaryFont;
  position: relative;
}

.logout-btn {
  background: none;
  border: none;
  color: $orange;
  cursor: pointer;
  font: 1rem $primaryFont;

  &:active {
    color: $light;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

@include print;
