// Main Profile Wrapper Css

.profile-wrapper {
  background-color: $mediumDark;
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  min-height: 100vh;
  padding-bottom: 6rem;
}

// Header Css
.header-container {
  background: $mediumDark;
  color: $orange;
  margin-bottom: 2rem;

  @include bp(mobile) {
    height: 225px;
    padding-top: 1rem;
  };
  @include bp(small) {
    height: 150px;
  };
}

.main-header-container {
    align-items: center;
    height: 100%;
    justify-content: space-around;

    @include bp(mobile) {
      flex-direction: column;
      flex-wrap: wrap;
    }
    @include bp(small) {
      flex-direction: row;
    }
}
// Search Bar Css

.search-comp {
  background: $medium;
  border: 5px solid $orange;
  color: $orange;
  font-size: 20px;
  height: 50px;
  padding: 20px;
  max-width: 900px;

  @include bp(mobile) {
    width: 85%;
  }
  @include bp(small) {
    width: 50%;
  }

  &:focus {
    outline: none;
  }
}

// SocialMedia Css
.social-media-container {
  width: 225px;

  .media-icons {
  }

  img {
    background: $orange;
    width: 60%;
  }
}

// Logo Css
.main-logo-container {
  .logo-container {
    align-items: center;
    color: $light;
    height: 100%;
    justify-content: space-around;
    width: 225px;

    .logo-image {
      background: $orange;
      border-radius: 5px;
      width: 60px;
    }

    .logo-text {
      font-size: 25px;
      font-weight: 900;
    }
  }
}
