header {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    align-items: center;
    height: 100px;
    justify-content: space-around;
    text-decoration: none;
  }
  .logout-btn {
    margin-right: 1rem;
  }

  .header-content-container {
    margin: 0 auto;
    width: 250px;
    .logo-image {
      background: $orange;
      border-radius: 5px;
      width: 50px;
    }
    .logo-text {
      color: $light;
      font: 2rem $primaryFont;
    }
  }

  &.vertical {
    padding-left: 350px;
    transform: translateX(0px);
  }
}

.score-wrapper {
  background-color: $mediumDark;
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  margin-top: 100px;
  min-height: 100vh;
  width: 100%;

  &.vertical {
    margin-left: 256px;
  }
  @include bp(mobile) {
    padding: 0;
  }
  @include bp(medium) {
    padding: 5rem;
  }
}

.score-container {
  background: $light;
  color: $darkest;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  overflow: scroll;
  padding: 2rem;
  position: relative;
  width: 85%;
  @include bp(mobile) {
    width: 100%;
  }
}

.title-container {
  position: relative;
  .score-title {
    font: 2rem $commentsFont;
  }
  .edit-title-form {
    background: $light;
    position: absolute;
    left: 50%;
    text-align: center;
    top: -1rem;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;

    .title-input {
      background: $light;
      border: none;
      border-bottom: 4px solid $orange;
      color: $darkest;
      font: 2rem $commentsFont;
      margin: 0 auto;
      width: 100%;

      &:focus {
        background: rgba(71,71,71,.25);
        border-bottom: 4px solid $orange;
        outline: none;
      }
    }
  }
}

.print-btn {
  background: $orange;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  padding: .25rem;
  position: absolute;
  right: 3rem;
  top: .5rem;
  width: 30px;

  .print-icon {
    display: block;
    width: 100%;
  }

  &:hover {
    border: 2px solid $darkest;
  }
}

.save-btn {
  background: $orange;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  padding: .25rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 30px;

  .save-icon {
    display: block;
    width: 100%;
    filter: brightness(20%);
  }

  &:hover {
    border: 2px solid $darkest;
  }
}

.bpm-container {
  position: relative;
  width: 100px;
  .edit-bpm-form {
    background: $light;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: absolute;
    top: -1rem;
    width: 100px;

    .bpm-input {
      background: $light;
      border: none;
      border-bottom: 4px solid $orange;
      font: 1rem $primaryFont;
      margin-right: .5rem;
      width: 70px;

      &:focus {
        background: rgba(71,71,71,.25);
        border-bottom: 4px solid $orange;
        outline: none;
      }
    }
  }
}

.key-options-container {
  background: rgba(49,49,49,.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  .exit-keys-btn {
    color: $orange;
    cursor: pointer;
    font: 2rem $primaryFont;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;

    &:hover {
      color: $light;
      transition: color .5s;
    }
  }

  .keys-wrapper {
    background: $dark;
    border: 4px solid $orange;
    flex-wrap: wrap;
    left: 50%;
    height: 85vh;
    justify-content: space-around;
    overflow: scroll;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
  }
}

.key-option {
  border: 4px solid transparent;
  color: $light;
  cursor: pointer;
  font: 1.5rem $primaryFont;
  padding: 1rem;
  text-decoration: underline;
  width: 200px;

  &:hover {
    .key-display {
      border: 4px solid $light;
      transition: border .5s;
    }
  }

  .key-name {
    margin-bottom: .5rem;
  }
  .key-display {
    background: $orange;
    border: 4px solid transparent;
    img {
      display: block;
      padding: 1rem;
      width: 100%;
    }
  }
}

#vfDisplay {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 800px;
  width: 100%;
}

.score-header-avatar {
   border: 5px solid $orange;
   border-radius: 50%;
   height: 70px;
   position: fixed;
   right: 5.5rem;
   top: 1rem;
   width: 70px;
  //  z-index: 1;
   // width: 100%;
 }
