/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Bilbo%7CBilbo+Swash+Caps%7CNunito%7CNunito+Sans");
img {
  border: 0;
  height: auto;
  max-width: 100%;
  width: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #373737;
  font: 16px/1.6 "Nunito Sans", sans-serif;
  position: relative; }

.logout-btn {
  background: none;
  border: none;
  color: #60D394;
  cursor: pointer;
  font: 1rem "Nunito Sans", sans-serif; }
  .logout-btn:active {
    color: #FAFAFA; }
  .logout-btn:focus {
    outline: none; }
  .logout-btn:hover {
    text-decoration: underline; }

@media print {
  body * {
    visibility: hidden; }
  .score-title, .score-bpm, .score-to-print, .score-to-print * {
    visibility: visible; }
  .score-title, .score-bpm {
    position: absolute;
    top: 0; }
  .score-title {
    left: 0; }
  .score-bpm {
    left: 12rem; }
  .score-to-print {
    left: 0;
    position: fixed;
    top: 5rem;
    transform: scale(0.75); } }

.is-centered {
  text-align: center; }

.is-flex {
  display: flex; }

.is-hidden {
  display: none; }

header {
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  header a {
    align-items: center;
    height: 100px;
    justify-content: space-around;
    text-decoration: none; }
  header .logout-btn {
    margin-right: 1rem; }
  header .header-content-container {
    margin: 0 auto;
    width: 250px; }
    header .header-content-container .logo-image {
      background: #60D394;
      border-radius: 5px;
      width: 50px; }
    header .header-content-container .logo-text {
      color: #FAFAFA;
      font: 2rem "Nunito Sans", sans-serif; }
  header.vertical {
    padding-left: 350px;
    transform: translateX(0px); }

.score-wrapper {
  background-color: #373737;
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  margin-top: 100px;
  min-height: 100vh;
  width: 100%; }
  .score-wrapper.vertical {
    margin-left: 256px; }
  @media screen and (min-width: 320px) {
    .score-wrapper {
      padding: 0; } }
  @media screen and (min-width: 670px) {
    .score-wrapper {
      padding: 5rem; } }

.score-container {
  background: #FAFAFA;
  color: #212121;
  margin: 0 auto;
  max-width: 900px;
  min-height: 100vh;
  overflow: scroll;
  padding: 2rem;
  position: relative;
  width: 85%; }
  @media screen and (min-width: 320px) {
    .score-container {
      width: 100%; } }

.title-container {
  position: relative; }
  .title-container .score-title {
    font: 2rem "Bilbo", cursive; }
  .title-container .edit-title-form {
    background: #FAFAFA;
    position: absolute;
    left: 50%;
    text-align: center;
    top: -1rem;
    transform: translateX(-50%);
    width: 50%;
    text-align: center; }
    .title-container .edit-title-form .title-input {
      background: #FAFAFA;
      border: none;
      border-bottom: 4px solid #60D394;
      color: #212121;
      font: 2rem "Bilbo", cursive;
      margin: 0 auto;
      width: 100%; }
      .title-container .edit-title-form .title-input:focus {
        background: rgba(71, 71, 71, 0.25);
        border-bottom: 4px solid #60D394;
        outline: none; }

.print-btn {
  background: #60D394;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  padding: .25rem;
  position: absolute;
  right: 3rem;
  top: .5rem;
  width: 30px; }
  .print-btn .print-icon {
    display: block;
    width: 100%; }
  .print-btn:hover {
    border: 2px solid #212121; }

.save-btn {
  background: #60D394;
  border: 2px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  padding: .25rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 30px; }
  .save-btn .save-icon {
    display: block;
    width: 100%;
    filter: brightness(20%); }
  .save-btn:hover {
    border: 2px solid #212121; }

.bpm-container {
  position: relative;
  width: 100px; }
  .bpm-container .edit-bpm-form {
    background: #FAFAFA;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: absolute;
    top: -1rem;
    width: 100px; }
    .bpm-container .edit-bpm-form .bpm-input {
      background: #FAFAFA;
      border: none;
      border-bottom: 4px solid #60D394;
      font: 1rem "Nunito Sans", sans-serif;
      margin-right: .5rem;
      width: 70px; }
      .bpm-container .edit-bpm-form .bpm-input:focus {
        background: rgba(71, 71, 71, 0.25);
        border-bottom: 4px solid #60D394;
        outline: none; }

.key-options-container {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .key-options-container .exit-keys-btn {
    color: #60D394;
    cursor: pointer;
    font: 2rem "Nunito Sans", sans-serif;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem; }
    .key-options-container .exit-keys-btn:hover {
      color: #FAFAFA;
      transition: color .5s; }
  .key-options-container .keys-wrapper {
    background: #313131;
    border: 4px solid #60D394;
    flex-wrap: wrap;
    left: 50%;
    height: 85vh;
    justify-content: space-around;
    overflow: scroll;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%; }

.key-option {
  border: 4px solid transparent;
  color: #FAFAFA;
  cursor: pointer;
  font: 1.5rem "Nunito Sans", sans-serif;
  padding: 1rem;
  text-decoration: underline;
  width: 200px; }
  .key-option:hover .key-display {
    border: 4px solid #FAFAFA;
    transition: border .5s; }
  .key-option .key-name {
    margin-bottom: .5rem; }
  .key-option .key-display {
    background: #60D394;
    border: 4px solid transparent; }
    .key-option .key-display img {
      display: block;
      padding: 1rem;
      width: 100%; }

#vfDisplay {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 800px;
  width: 100%; }

.score-header-avatar {
  border: 5px solid #60D394;
  border-radius: 50%;
  height: 70px;
  position: fixed;
  right: 5.5rem;
  top: 1rem;
  width: 70px; }

.tool-box {
  padding: 1rem;
  position: fixed;
  border: 3px solid #474747;
  background: #474747;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
  z-index: 1000; }
  .tool-box.horizontal {
    box-shadow: 0 -0.5rem 1rem #60D394;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 220px;
    justify-content: space-around;
    overflow: scroll;
    padding: 2rem;
    width: 100vw;
    bottom: 0px; }
    .tool-box.horizontal .toggle-pos {
      transform: rotate(-90deg); }
    .tool-box.horizontal .Transport-controls {
      margin: 0; }
    .tool-box.horizontal .Transport-controls, .tool-box.horizontal .note-lengths-container,
    .tool-box.horizontal .accidentals-container, .tool-box.horizontal .rest-lengths-container {
      margin-bottom: 2rem;
      width: 220px; }
  .tool-box.vertical {
    bottom: 0;
    box-shadow: 0.35rem 0 1rem #60D394;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
    top: 0;
    width: 16rem; }

.Transport-controls, .note-lengths-container,
.accidentals-container, .rest-lengths-container {
  margin-bottom: 2rem;
  width: 220px; }

.Transport-controls {
  margin: 2rem auto;
  width: 85%; }
  .Transport-controls .playback-title {
    color: #FAFAFA;
    font: 1rem "Nunito Sans", sans-serif;
    margin-bottom: .5rem;
    width: 100%; }

.Transport-buttons {
  justify-content: center; }
  .Transport-buttons button {
    background: #60D394;
    border: 4px solid #60D394; }
    .Transport-buttons button:hover {
      border: 4px solid #FAFAFA; }
    .Transport-buttons button:focus {
      border: 4px solid #FAFAFA;
      outline: none; }

.toggle-pos {
  width: 3rem;
  background: none;
  border: none;
  border: 4px solid transparent;
  left: 0;
  margin-bottom: 2rem;
  padding: .5rem;
  position: absolute;
  top: 0; }
  .toggle-pos:focus {
    outline: none; }
  .toggle-pos:hover {
    border: 4px solid #FAFAFA;
    cursor: pointer; }

.Transport {
  width: 55px;
  display: inline-block;
  background: #373737;
  border-radius: 5px;
  margin: 3px;
  padding: 5px; }
  .Transport:hover {
    cursor: pointer; }
  .Transport img {
    filter: drop-shadow(2px 2px 2px 1px rgba(65, 162, 235, 0.5)); }

.notation-selectors {
  justify-content: space-around;
  flex-wrap: wrap;
  color: #FAFAFA; }
  .notation-selectors .key-sig-btn {
    font: 1rem "Nunito Sans", sans-serif; }

.selectors {
  width: 20rem; }

.triplet-btn p {
  text-align: center;
  position: relative;
  right: 4px;
  font-weight: bolder; }

.icon {
  border: 4px solid #60D394;
  background: #60D394;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  margin: .5rem; }
  .icon img {
    filter: brightness(30%); }
  .icon:hover {
    border: 4px solid #FAFAFA; }
  .icon:active {
    border: 4px solid #60D394;
    box-shadow: none;
    background: #FAFAFA;
    outline: none; }
  .icon:focus {
    outline: none; }

.chat-container {
  flex-direction: column;
  color: #FAFAFA; }

.options-wrapper {
  flex-wrap: wrap;
  justify-content: center; }
  .options-wrapper .icon {
    width: 2.5rem; }

.time-options-wrapper {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .time-options-wrapper .exit-times-btn {
    color: #60D394;
    cursor: pointer;
    font: 2rem "Nunito Sans", sans-serif;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem; }
    .time-options-wrapper .exit-times-btn:hover {
      color: #FAFAFA;
      transition: color .5s; }
  .time-options-wrapper .time-options-container {
    background: #313131;
    border: 4px solid #60D394;
    color: #FAFAFA;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 50%;
    overflow: scroll;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 85%; }
    .time-options-wrapper .time-options-container .time-option {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 2rem;
      height: 200px;
      margin-bottom: 2rem;
      justify-content: center;
      width: 200px; }
      .time-options-wrapper .time-options-container .time-option:hover {
        color: #FAFAFA;
        text-decoration: underline; }

.profile-wrapper {
  background-color: #373737;
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  min-height: 100vh;
  padding-bottom: 6rem; }

.header-container {
  background: #373737;
  color: #60D394;
  margin-bottom: 2rem; }
  @media screen and (min-width: 320px) {
    .header-container {
      height: 225px;
      padding-top: 1rem; } }
  @media screen and (min-width: 550px) {
    .header-container {
      height: 150px; } }

.main-header-container {
  align-items: center;
  height: 100%;
  justify-content: space-around; }
  @media screen and (min-width: 320px) {
    .main-header-container {
      flex-direction: column;
      flex-wrap: wrap; } }
  @media screen and (min-width: 550px) {
    .main-header-container {
      flex-direction: row; } }

.search-comp {
  background: #474747;
  border: 5px solid #60D394;
  color: #60D394;
  font-size: 20px;
  height: 50px;
  padding: 20px;
  max-width: 900px; }
  @media screen and (min-width: 320px) {
    .search-comp {
      width: 85%; } }
  @media screen and (min-width: 550px) {
    .search-comp {
      width: 50%; } }
  .search-comp:focus {
    outline: none; }

.social-media-container {
  width: 225px; }
  .social-media-container img {
    background: #60D394;
    width: 60%; }

.main-logo-container .logo-container {
  align-items: center;
  color: #FAFAFA;
  height: 100%;
  justify-content: space-around;
  width: 225px; }
  .main-logo-container .logo-container .logo-image {
    background: #60D394;
    border-radius: 5px;
    width: 60px; }
  .main-logo-container .logo-container .logo-text {
    font-size: 25px;
    font-weight: 900; }

.avatar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto 3rem auto;
  width: 200px; }

.profile-pic {
  border: 5px solid #60D394;
  border-radius: 50%; }

.user-profile-image {
  align-items: center;
  flex-direction: column;
  justify-content: center; }

.user-name {
  color: #FAFAFA;
  font-size: 1.5rem;
  margin-top: .5rem; }

.user-comp-container {
  background: #474747;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
  border: 4px solid #60D394;
  margin: 0 auto;
  max-width: 900px;
  width: 85%; }

.container-one {
  background: #FAFAFA;
  border: 1px solid black;
  height: 23.5%;
  width: 17%;
  margin: 40px; }

.container-one:hover {
  border-color: #60D394;
  box-shadow: 10px 10px 5px #474747;
  opacity: 1; }

.user-score-list {
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem; }
  .user-score-list .user-score-item {
    cursor: pointer;
    height: 275px;
    margin: 1rem 1rem;
    width: 200px; }
    .user-score-list .user-score-item .score-title {
      color: #FAFAFA;
      font-size: 1.5rem; }
    .user-score-list .user-score-item .score-link {
      border: 4px solid #212121;
      display: block;
      padding: 0.5rem 0;
      background: #fff;
      text-decoration: none; }
      .user-score-list .user-score-item .score-link .plus {
        position: relative;
        font-size: 5rem;
        font-weight: bold;
        color: #60D394;
        bottom: 14.5rem;
        left: 1.7rem;
        z-index: 3;
        text-align: center;
        width: 0;
        height: 0;
        overflow: visible; }
      .user-score-list .user-score-item .score-link img {
        display: block; }
    .user-score-list .user-score-item:hover .score-title {
      color: #60D394;
      text-decoration: underline; }
    .user-score-list .user-score-item:hover .score-link {
      border: 4px solid #60D394; }

.login-header {
  background: #373737;
  position: relative; }

.login-wrapper {
  background-color: #373737;
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  color: #FAFAFA;
  min-height: 100vh;
  position: relative; }

.login-container {
  background: #474747;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
  border: 4px solid #60D394;
  height: 75vh;
  max-width: 600px;
  width: 75%; }
  @media screen and (min-width: 320px) {
    .login-container {
      margin: 0 0;
      width: 100%; } }
  @media screen and (min-width: 550px) {
    .login-container {
      margin: 3rem auto 0 auto; } }

.login-form-container {
  align-items: center;
  height: 100%;
  width: 100%; }
  .login-form-container .login-form {
    align-items: center;
    flex-direction: column;
    height: 185px;
    justify-content: space-around;
    width: 100%; }
    .login-form-container .login-form button {
      align-items: center;
      background: #212121;
      border: 4px solid #60D394;
      color: #FAFAFA;
      cursor: pointer;
      font: 1.5rem "Nunito Sans", sans-serif;
      justify-content: space-around;
      padding: .5rem;
      width: 320px; }
      .login-form-container .login-form button span {
        width: 75%; }
      .login-form-container .login-form button img {
        border: 2px solid #60D394;
        border-radius: 50%;
        padding: 5px;
        width: 15%; }
      .login-form-container .login-form button:hover {
        color: #60D394; }
      .login-form-container .login-form button:active {
        background: #FAFAFA;
        color: #60D394;
        img-border: 2px solid #60D394; }
      .login-form-container .login-form button:focus {
        outline: none; }

form input {
  border: 0;
  background: #474747;
  color: #60D394;
  font-weight: 300;
  font: "Nunito Sans", sans-serif;
  font-size: 15px;
  margin-right: 0.5%;
  padding: 10px;
  width: 100%; }

form button {
  background: #60D394;
  border: none;
  font: "Nunito Sans", sans-serif;
  height: 100%;
  width: 5%; }

.chat {
  border: 4px solid #60D394; }

.chat-icon {
  width: 20px;
  position: fixed;
  right: 51px;
  z-index: 1; }
  .chat-icon img {
    filter: invert(100%); }

.chat-toggle {
  align-content: center;
  background: #60D394;
  border: 4px solid transparent;
  border-radius: 5rem;
  bottom: 1rem;
  cursor: pointer;
  display: flex;
  height: 4rem;
  justify-content: center;
  position: fixed;
  right: 1rem;
  width: 4rem; }
  .chat-toggle img {
    filter: invert(25%);
    width: 55%;
    top: 5px; }
  .chat-toggle:hover {
    border: 4px solid #373737; }
    .chat-toggle:hover + .message-count {
      border: 2px solid #FAFAFA;
      bottom: 5.5rem;
      right: 2.75rem;
      transition: all .25s; }

.score-page-container .chat-toggle {
  bottom: 15rem; }
  .score-page-container .chat-toggle.vertical {
    bottom: 1rem; }

.arrow {
  transform: rotate(180deg); }

.message-count {
  align-items: center;
  background: #E8B20C;
  border: 2px solid transparent;
  border-radius: 50%;
  bottom: 3rem;
  color: #FAFAFA;
  font-size: .75rem;
  height: 35px;
  justify-content: center;
  position: fixed;
  right: .75rem;
  width: 35px;
  z-index: -1; }

.main-chat-container {
  bottom: 6rem;
  min-width: 325px;
  position: fixed;
  right: 1rem;
  width: 40%; }

.message-text-container {
  display: flex;
  background: #474747;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
  flex-direction: column;
  height: 275px;
  overflow: scroll;
  width: 100%;
  min-height: 150px;
  max-height: 350px;
  flex-grow: 2; }

.message-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 100%; }

.input-container {
  background: #474747;
  flex-direction: row;
  align-items: center;
  border-top: 4px solid #FAFAFA;
  overflow: hidden; }
  .input-container .current-user-icon {
    margin: 5px;
    border: 1px solid red;
    border-radius: 3rem;
    border: 3px solid #474747; }

.user-message {
  flex-direction: row;
  align-items: center;
  margin: 5px;
  max-width: 65%;
  flex-wrap: wrap;
  min-height: 20px;
  border-radius: 1rem; }

.current-user-icon {
  margin: 5px;
  width: 40px;
  height: 35px;
  border: 1px solid black;
  border-radius: 3rem;
  overflow: hidden; }
  .current-user-icon img {
    width: 100%; }

.user-text {
  background: #60D394;
  align-self: flex-end;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 5px;
  max-width: 75%; }

.chord-options-wrapper {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .chord-options-wrapper .exit-chords-btn {
    color: #60D394;
    cursor: pointer;
    font: 2rem "Nunito Sans", sans-serif;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem; }
    .chord-options-wrapper .exit-chords-btn:hover {
      color: #FAFAFA;
      transition: color .5s; }

.chord-options-container {
  background: #313131;
  border: 4px solid #60D394;
  flex-wrap: wrap;
  left: 50%;
  height: 85vh;
  justify-content: space-around;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }
  .chord-options-container .chord-triggers-container, .chord-options-container .chords-wrapper {
    align-items: center;
    flex-wrap: wrap;
    height: 85vh;
    justify-content: space-around;
    overflow: scroll; }
    .chord-options-container .chord-triggers-container .chord-note-option, .chord-options-container .chords-wrapper .chord-note-option {
      align-items: center;
      color: #FAFAFA;
      cursor: pointer;
      display: flex;
      font-size: 3rem;
      height: 200px;
      margin-bottom: 2rem;
      justify-content: center;
      width: 200px; }
      .chord-options-container .chord-triggers-container .chord-note-option:hover, .chord-options-container .chords-wrapper .chord-note-option:hover {
        text-decoration: underline; }

.chords-wrapper .chord-option {
  background: #60D394;
  border: 4px solid transparent;
  cursor: pointer;
  height: 200px;
  margin: 2rem;
  padding: 1rem;
  width: 200px; }
  .chords-wrapper .chord-option img {
    display: block;
    width: 200px; }
  .chords-wrapper .chord-option:hover {
    border: 4px solid #FAFAFA;
    transition: border 1s; }

.invite-btn {
  background: #60D394;
  border: 4px solid transparent;
  border-radius: 1rem;
  bottom: 15rem;
  color: #373737;
  cursor: pointer;
  font-size: 1.21rem;
  padding: .75rem;
  position: fixed;
  right: 6rem; }
  .invite-btn.vertical {
    bottom: 1rem; }
  .invite-btn:hover {
    border: 4px solid #373737; }

.collaborators-wrapper {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }
  .collaborators-wrapper .exit-collaborators-btn {
    color: #60D394;
    cursor: pointer;
    font: 2rem "Nunito Sans", sans-serif;
    height: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem; }
    .collaborators-wrapper .exit-collaborators-btn:hover {
      color: #FAFAFA;
      transition: color .5s; }

.collaborators-container {
  background: #313131;
  border: 4px solid #60D394;
  left: 50%;
  height: 85vh;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }

.users-list {
  flex-wrap: wrap;
  justify-content: space-around; }
  .users-list .collaborator-item {
    cursor: pointer;
    margin: 1rem;
    padding: .5rem;
    width: 225px; }
    .users-list .collaborator-item .avatar-container {
      border: 4px solid #FAFAFA;
      border-radius: 50%;
      display: block;
      height: 200px;
      overflow: hidden;
      width: 200px; }
    .users-list .collaborator-item .collaborator-name {
      color: #FAFAFA;
      font-size: 1.5rem; }
    .users-list .collaborator-item:hover .avatar-container {
      border: 4px solid #60D394; }
    .users-list .collaborator-item:hover .collaborator-name {
      color: #60D394;
      text-decoration: underline; }

.toggle-invites-btn {
  background: #60D394;
  border: 4px solid transparent;
  border-radius: 1rem;
  bottom: 1rem;
  color: #373737;
  cursor: pointer;
  font-size: 1.21rem;
  padding: .75rem;
  position: fixed;
  right: 6rem;
  z-index: 2; }
  .toggle-invites-btn:hover {
    border: 4px solid #373737; }
    .toggle-invites-btn:hover + .invite-count {
      border: 2px solid #FAFAFA;
      bottom: 5.5rem;
      right: 7.5rem;
      transition: all .25s; }

.invite-count {
  align-items: center;
  background: #E8B20C;
  border: 2px solid transparent;
  border-radius: 50%;
  bottom: 3rem;
  color: #FAFAFA;
  font-size: .75rem;
  height: 35px;
  justify-content: center;
  position: fixed;
  right: 10rem;
  width: 35px;
  z-index: 0; }

.invites-wrapper {
  background: rgba(49, 49, 49, 0.75);
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; }

.exit-invites-btn {
  color: #60D394;
  cursor: pointer;
  font: 2rem "Nunito Sans", sans-serif;
  height: 2.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2.5rem; }
  .exit-invites-btn:hover {
    color: #FAFAFA;
    transition: color .5s; }

.invites-container {
  background: #313131;
  border: 4px solid #60D394;
  left: 50%;
  height: 85vh;
  overflow: scroll;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%; }

.invites-list {
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  width: 100%; }

.invite-item {
  border: 4px solid #FAFAFA;
  height: 175px;
  width: 225px; }
  .invite-item .invite-info-container {
    align-items: center;
    background: #60D394;
    justify-content: center;
    flex-direction: column;
    height: 125px; }
    .invite-item .invite-info-container .score-title {
      color: #FAFAFA;
      font-size: 1.5rem; }
  .invite-item .actions-container {
    color: #FAFAFA;
    justify-content: space-around;
    font-size: 1.5rem; }
    .invite-item .actions-container .accept-btn, .invite-item .actions-container .reject-btn {
      cursor: pointer; }
    .invite-item .actions-container .accept-btn:hover {
      color: #60D394; }
    .invite-item .actions-container .reject-btn:hover {
      color: red; }
