// colors:
$greenAcc: #63C273;
$blueAcc: #41A2EB;
$light: #FAFAFA;
$medium: #474747;
$mediumDark: #373737;
$dark: #313131;
$darkest: #212121;
$orange: #60D394; //#FF7800;

// fonts:
$primaryFont: 'Nunito Sans', sans-serif;
$commentsFont: 'Bilbo', cursive;
